/*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.App{
    border: 8px solid rgb(221, 92, 92);
    margin: 5px;
    padding: 5px;
    min-height: 98.5vh;

}
a{text-decoration: inherit;
color: inherit;}
*/