@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@500&family=Roboto:wght@300&family=Secular+One&family=Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300&family=Rubik+Glitch&family=Secular+One&family=Trade+Winds&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  overflow: hidden;
}

.BlueRectangle {
  width: 420px;
  height: 800px;
  left: -74px;
  background-color: #1178f2;
}

.Image {
  position: relative;
  width: 350.27px;
  height: 198px;
  top: -20px;
  left: 30px;
  border-radius: 30px, 0px, 0px, 30px;
  animation: bounce 5s infinite;
}

@keyframes bounce {
  0% {
    top: -20px;
  }
  25% {
    top: -26px;
  }
  100% {
    top: -20px;
  }
}

.Image2 {
  position: relative;
  top: 428.84px;
  left: 30.15px;
  border-radius: 30px, 0px, 0px, 30px;
  animation: Bounce 5s infinite;
}

@keyframes Bounce {
  0% {
    top: 428.84px;
  }
  25% {
    top: 436.11px;
  }
  100% {
    top: 428.84px;
  }
}

.MainPage {
  position: relative;
  top: -330px;
  left: 915px;
  width: 187px;
  height: 239.324px;
  width: 170px;
  height: 230.32px;
  flex-shrink: 0;
}
.MainPageF {
  position: relative;
  top: -330px;
  left: 922px;
  width: 83px;
  height: 106.22px;
}

.hackazone {
  position: relative;
  font-family: Trade Winds;
  font-size: 48px;
  font-weight: 400;
  left: 830px;
  top: -330px;
}

.Password {
  position: relative;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  left: 620px;
  top: -330px;
}
.blue {
  display: inline;
  color: #1178f2;
}
.Forgot {
  display: inline;
  color: #1178f2;
}

.text {
  font-family: Poppins;
  font-size: 17px;
  font-weight: 400;
  position: relative;
  left: 800px;
  top: -250px;
  width: 400px;
  text-align: center;
}

.text3 {
  position: relative;
  font-family: poppins;
  width: 800px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  left: 620px;
  top: -320px;
}

.text2 {
  position: relative;
  left: 730px;
  top: -230px;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  width: 550px;
  text-align: center;
}

.btn-primary {
  position: relative;
  width: 640px;
  height: 56px;
  top: -175px;
  left: 675px;
  padding: 8px;
  border-radius: 16px;
  gap: 8px;
  background: #1178f2;
  font-family: poppins;
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  line-height: 29px;
  text-align: center;
  border-color: #1178f2;
  transition: transform 1s ease-in-out;
}

.btn-primary:hover {
  border-color: #1178f2;
  background-color: #fff;
  color: #1178f2;
  transform: scale(1.0156);
  transition: 350ms;
}

.btn-primary:active {
  transform: scale(1);
}

.line {
  height: 2px;
  width: 626px;
  position: relative;
  top: -183px;
  left: 680px;
  background-color: black;
}

.Human {
  position: relative;
  top: -640px;
  left: 180px;
  height: 510px;
}
.btn-secondry {
  position: relative;
  width: 640px;
  height: 56px;
  top: -170px;
  left: 675px;
  padding: 8px;
  border-radius: 16px;
  gap: 8px;
  background: #1178f2;
  font-family: poppins;
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  border-color: #1178f2;
}

.btn-secondry:hover {
  border-color: #1178f2;
  background-color: #fff;
  color: #1178f2;
  transform: scale(1.0156);
  transition: 350ms;
}

.btn-secondry:active {
  transform: scale(1);
}
.or {
  margin: 0px;
  position: relative;
  top: -170px;
  left: 985px;
  font-family: poppins;
  font-size: 16px;
  font-weight: 700;
  z-index: 1;
  width: 26px;
  align-items: center;
  background-color: #fff;
}

@media screen and (width <= 400px) {
  .Image {
    height: 0px;
    width: 0px;
  }
  .Image2 {
    height: 0px;
    width: 0px;
  }
  .BlueRectangle {
    height: 14.375rem;
    width: 28.125rem;
  }
  .from {
    display: flex;
    flex-wrap: wrap;
  }

  .Human {
    top: -14.0625rem;
    left: 7.0625rem;
    height: 14.0625rem;
  }
  .MainPage {
    height: 10.625rem;
    top: 15.625rem;
    left: 7.0625rem;
  }
  .hackazone {
    font-size: 2rem;
    top: 15.3125rem;
    left: 5.3125rem;
  }
  .text {
    top: 16.5625rem;
    left: 3.125rem;
    font-size: 1rem;
    width: 18.75rem;
    line-height: 1rem;
  }
  .text2 {
    top: 17.1875rem;
    left: 3.125rem;
    font-size: 1rem;
    width: 18.75rem;
    line-height: 1rem;
  }

  .btn-primary {
    height: 3.125rem;
    width: 22.8125rem;
    top: 18.75rem;
    left: 0.9375rem;
    font-size: 1rem;
  }
  .line {
    top: 18.25rem;
    left: 1.25rem;
    width: 21.875rem;
  }
  .or {
    top: 18.75rem;
    left: 11.875rem;
    font-size: 0.6875rem;
    width: 1.125rem;
    padding-left: 0.125rem;
  }
  .btn-secondry {
    height: 3.125rem;
    width: 22.8125rem;
    top: 18.75rem;
    left: 0.9375rem;
    font-size: 1rem;
  }
}
