@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@500&family=Roboto:wght@300&family=Secular+One&family=Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300&family=Rubik+Glitch&family=Secular+One&family=Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300&family=Rubik+Glitch&family=Secular+One&family=Sofia+Sans:wght@300;400&family=Trade+Winds&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

body {
  overflow: hidden;
}

.BlueRectangle {
  width: 420px;
  height: 800px;
  left: -74px;
  background-color: #1178f2;
}

.Image {
  position: relative;
  width: 350.27px;
  height: 198px;
  top: -20px;
  left: 30px;
  border-radius: 30px, 0px, 0px, 30px;
  animation: bounce 5s infinite;
}

@keyframes bounce {
  0% {
    top: -20px;
  }
  25% {
    top: -26px;
  }
  100% {
    top: -20px;
  }
}

.Image2 {
  position: relative;
  top: 428.84px;
  left: 30.15px;
  border-radius: 30px, 0px, 0px, 30px;
  animation: Bounce 5s infinite;
}

@keyframes Bounce {
  0% {
    top: 428.84px;
  }
  25% {
    top: 436.11px;
  }
  100% {
    top: 428.84px;
  }
}

.MainPage {
  position: relative;
  top: -330px;
  left: 915px;
  width: 187px;
  height: 239.324px;
  width: 170px;
  height: 230.32px;
  flex-shrink: 0;
}
.MainPageF {
  position: relative;
  top: -330px;
  left: 922px;
  width: 83px;
  height: 106.22px;
}

.hackazone {
  position: relative;
  font-family: Trade Winds;
  font-size: 48px;
  font-weight: 400;
  left: 830px;
  top: -330px;
}

.Password {
  position: relative;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  width: 600px;
  letter-spacing: 0em;
  left: 620px;
  top: -330px;
}
.blue {
  display: inline;
  color: #1178f2;
}
.Forgot {
  display: inline;
  color: #1178f2;
}

.End {
  position: relative;
  top: 20px;
  left: 630px;
  height: 2px;
  width: 680px;
  background-color: black;
}
.text {
  font-family: Poppins;
  font-size: 17px;
  font-weight: 400;
  position: relative;
  left: 800px;
  top: -250px;
  width: 400px;
  text-align: center;
}

.text3 {
  position: relative;
  font-family: poppins;
  width: 800px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  left: 620px;
  top: -320px;
}

.text2 {
  position: relative;
  left: 730px;
  top: -230px;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  width: 550px;
  text-align: center;
}

.btn-primary {
  position: relative;
  width: 640px;
  height: 56px;
  top: -175px;
  left: 675px;
  padding: 8px;
  border-radius: 16px;
  gap: 8px;
  background: #1178f2;
  font-family: poppins;
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  line-height: 29px;
  text-align: center;
  border-color: #1178f2;
  transition: transform 1s ease-in-out;
}

.btn-primary:hover {
  border-color: #1178f2;
  background-color: #fff;
  color: #1178f2;
  transform: scale(1.0156);
  transition: 350ms;
}

.btn-primary:active {
  transform: scale(1);
}
 
.btn-ftp {
  position: relative;
  width: 695px;
  height: 56px;
  top: -130px;
  left: 620px;
  padding: 8px;
  border-radius: 16px;
  gap: 8px;
  background: #1178f2;
  font-family: poppins;
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  line-height: 29px;
  text-align: center;
  border-color: #1178f2;
  transition: transform 1s ease-in-out;
}

.btn-ftp:hover {
  border-color: #1178f2;
  background-color: #fff;
  color: #1178f2;
  transform: scale(1.0156);
  transition: 350ms;
}

.btn-ftp:active {
  transform: scale(1);
}

.line {
  height: 2px;
  width: 626px;
  position: relative;
  top: -183px;
  left: 680px;
  background-color: black;
}
.line2 {
  height: 2px;
  width: 635px;
  position: relative;
  top: -40px;
  left: 635px;
  background-color: grey;
}

.Human {
  position: relative;
  top: -640px;
  left: 180px;
  height: 510px;
}
.btn-secondry {
  position: relative;
  width: 640px;
  height: 56px;
  top: -170px;
  left: 675px;
  padding: 8px;
  border-radius: 16px;
  gap: 8px;
  background: #1178f2;
  font-family: poppins;
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  border-color: #1178f2;
}

.btn-secondry:hover {
  border-color: #1178f2;
  background-color: #fff;
  color: #1178f2;
  transform: scale(1.0156);
  transition: 350ms;
}

.btn-secondry:active {
  transform: scale(1);
}
.or {
  margin: 0px;
  position: relative;
  top: -170px;
  left: 985px;
  font-family: poppins;
  font-size: 16px;
  font-weight: 700;
  z-index: 1;
  width: 26px;
  align-items: center;
  background-color: #fff;
}
.Human2 {
  position: relative;
  width: 591px;
  height: 350px;
  top: -500px;
  left: 28px;
}
.input-group {
  font-size: 1.25rem;
  position: relative;
  --primary: #2196f3;
}

.input {
  all: unset;
  color: black;
  font-family: poppins;
  padding: 1rem;
  border: 1px solid #9e9e9e;
  border-radius: 10px;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label {
  position: absolute;
  top: -205px;
  left: 650px;
  width: 149px;
  color: #d4d4d4;
  pointer-events: none;
  font-family: poppins;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input {
  position: relative;
  top: -220px;
  left: 620px;
  width: 660px;
  border-radius: 20px;
  font-size: 17px;
  font-weight: 700;
}

.input:focus {
  border: 1px solid var(--primary);
}

.input:is(:focus, :valid) ~ label {
  transform: translateY(-90%) scale(0.7);
  background-color: #fff;
  padding-inline: 0.3rem;
  color: var(--primary);
}
.input-group {
  font-size: 1.25rem;
  position: relative;
  --primary: #2196f3;
}

.input2 {
  all: unset;
  color: black;
  font-family: poppins;
  padding: 1rem;
  border: 1px solid #9e9e9e;
  border-radius: 10px;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label2 {
  position: absolute;
  top: -127px;
  left: 650px;
  color: #d4d4d4;
  width: 149px;
  pointer-events: none;
  font-family: poppins;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input2 {
  position: relative;
  top: -200px;
  left: 620px;
  width: 660px;
  border-radius: 20px;
  font-size: 17px;
  font-weight: 700;
}

.input2:focus {
  border: 1px solid var(--primary);
}

.input2:is(:focus, :valid) ~ label {
  transform: translateY(-90%) scale(0.7);
  background-color: #fff;
  padding-inline: 0.3rem;
  color: var(--primary);
}
.error-message {
  position: relative;
  top: -215px;
  left: 640px;
  font-family: poppins;
  font-size: 16px;
  color: red;
}
.Human4 {
  position: relative;
  width: 122px;
  height: 156.14px;
  top: -65px;
  left: 110px;
}
.Humanftp {
  position: relative;
  top: -470px;
  left: 80px;
  height: 400px;
  width: 485px;
}

.error {
  all: unset;
  color: black;
  font-family: poppins;
  padding: 1rem;
  border: 1px solid red;
  position: relative;
  top: -220px;
  left: 620px;
  width: 660px;
  border-radius: 20px;
  font-size: 17px;
  font-weight: 700;
  border-radius: 20px;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.error:is(:focus, :valid) ~ label {
  transform: translateY(-90%) scale(0.7);
  background-color: #fff;
  padding-inline: 0.3rem;
  color: red;
}

.hftp {
  height: 0px;
  width: 0px;
}
.container {
  width: 350px;
  height: 800px;
  background-color: #1178f2;
  transition: 0.4s;
  overflow: hidden;
  display: inline-block;
}
.whitebox {
  position: relative;
  left: -20px;
  top: -20px;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background-color: #fff;
}
.bars {
  position: relative;
  left: 35px;
  top: 38px;
}
.whitebars {
  position: relative;
  top: -10px;
  left: 15px;
  z-index: 1;
}
.nobars {
  width: 0px;
  height: 0px;
}
.hide {
  position: relative;
  width: 33px;
  height: 17px;
  top: -212px;
  left: 23px;
  color: #1178f2;
  font-family: Sofia Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}
.show {
  position: relative;
  width: 33px;
  height: 17px;
  top: 25px;
  left: 20px;
  color: #fff;
  font-family: Sofia Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}
.hidden {
  width: 80px;
  height: 800px;
  background-color: #1178f2;
  transition: 0.4s;
}
.nobox {
  width: 0px;
  height: 0px;
}
.nohuman {
  width: 0px;
  height: 0px;
}
.hack {
  position: relative;
  font-family: Trade Winds;
  font-size: 40px;
  line-height: 40px;
  top: -30px;
  left: 15px;
}
.nobody {
  width: 0px;
  height: 0px;
  display: none;
}
.white {
  position: relative;
  font-family: Trade Winds;
  font-size: 40px;
  font-weight: 400;
  top: -40px;
  left: 165px;
  line-height: 40px;
  color: #fff;
}
.c1{
  position: relative;
  background-color: #1178f2;
  color: #fff;
  width: 56px;
  text-align: center;
  height: 40px;
  border-radius: 200px;
  left: 4px;
  top: 5px;
  padding-top: 16px;
  transition: 0.3s;
}
.c2{
  position: relative;
  background-color: #1178f2;
  color: #fff;
  width: 56px;
  text-align: center;
  height: 40px;
  border-radius: 200px;
  left: 81px;
  top: -50px;
  padding-top: 16px;
  transition: 0.3s;
}
.c3{
  position: relative;
  background-color: #1178f2;
  color: #fff;
  width: 56px;
  text-align: center;
  height: 40px;
  border-radius: 200px;
  left: 161px;
  top: -105px;
  padding-top: 16px;
  transition: 0.3s;
}
.c4{
  position: relative;
  background-color: #1178f2;
  color: #fff;
  width: 56px;
  text-align: center;
  height: 40px;
  border-radius: 200px;
  left: 239px;
  top: -160px;
  padding-top: 16px;
  transition: 0.3s;
}
.c5{
  position: relative;
  background-color: #1178f2;
  color: #fff;
  width: 56px;
  text-align: center;
  height: 40px;
  border-radius: 200px;
  left: 3px;
  top: -140px;
  padding-top: 16px;
  transition: 0.3s;
}
.c6{
  position: relative;
  background-color: #1178f2;
  color: #fff;
  width: 56px;
  text-align: center;
  height: 40px;
  border-radius: 200px;
  left: 82px;
  top: -195px;
  padding-top: 16px;
  transition: 0.3s;
}
.c7{
  position: relative;
  background-color: #1178f2;
  color: #fff;
  width: 56px;
  text-align: center;
  height: 40px;
  border-radius: 200px;
  left: 160px;
  top: -250px;
  padding-top: 16px;
  transition: 0.3s;
}
.c8{
  position: relative;
  background-color: #1178f2;
  color: #fff;
  width: 56px;
  text-align: center;
  height: 40px;
  border-radius: 200px;
  left: 239px;
  top: -306px;
  padding-top: 16px;
  transition: 0.3s;
}
.nocircles{
  display: none;
}
.section1 {
  position: relative;
  font-family: Sofia Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  padding: 20px;
  left: -14px;
  width: 308px;
  text-align: left;
  height: 30px;
  color: #fff;
  border-radius: 0px 20px 0px 20px;
  background-color: #1178f2;
  transition: 0.2s;
}
.sectionq{
  position: relative;
  font-family: Sofia Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  padding: 20px;
  left: -14px;
  width: 308px;
  text-align: left;
  height: 200px;
  color: #1178f2;
  border-radius: 0px 20px 0px 20px;
  background-color: #fff;
  transition: 0.1s;
}
.section1:active{
  color: #1178f2;
  background-color: #fff;
}
.Arrow{
  position: relative;
  left: 270px;
  top: -27px;
}
.Arrow2{
  position: relative;
  left: 270px;
  top: -27px;
  transform: rotate(90deg);
}
.Arrow:hover{
  transform: rotate(90deg);
  transition: 0.3s;
}
@media screen and (width <= 400px) {
  .Image {
    height: 0px;
    width: 0px;
  }
  .Image2 {
    height: 0px;
    width: 0px;
  }
  .Human2 {
    width: 19.52rem;
    height: 13.875rem;
    top: -14.375rem;
    left: 3.75rem;
  }

  .BlueRectangle {
    height: 14.375rem;
    width: 28.125rem;
  }
  .from {
    display: flex;
    flex-wrap: wrap;
  }
  .hftp {
    position: relative;
    width: 3.41875rem;
    height: 4.375rem;
    top: 0.625rem;
    left: 0.625rem;
  }
  .Human {
    top: -14.0625rem;
    left: 7.0625rem;
    height: 14.0625rem;
  }
  .Humanftp {
    top: -10.3125rem;
    left: 5.625rem;
    height: 14rem;
    width: 13.4375rem;
  }
  .MainPage {
    height: 10.625rem;
    top: 15.625rem;
    left: 7.0625rem;
  }
  .hackazone {
    font-size: 2rem;
    top: 15.3125rem;
    left: 5.3125rem;
  }
  .text {
    top: 16.5625rem;
    left: 3.125rem;
    font-size: 1rem;
    width: 18.75rem;
    line-height: 1rem;
  }
  .text2 {
    top: 17.1875rem;
    left: 3.125rem;
    font-size: 1rem;
    width: 18.75rem;
    line-height: 1rem;
  }
  .MainPageF {
    height: 0px;
    width: 0px;
  }
  .text3 {
    top: 18.75rem;
    left: 0.625rem;
    font-family: Roboto;
    font-size: 0.75rem;
    font-weight: 400;
    width: 25rem;
    line-height: 0.875rem;
    text-align: left;
  }
  .Password {
    top: 16.25rem;
    left: 0.625rem;
    font-size: 2rem;
  }
  .input {
    top: 22.5rem;
    left: 1.25rem;
    width: 20rem;
  }
  .input2 {
    top: 24.375rem;
    left: 1.25rem;
    width: 20rem;
  }
  .error {
    top: 22.5rem;
    left: 1.25rem;
    width: 20rem;
  }
  .label {
    top: 23.3125rem;
    left: 2.5rem;
  }
  .label2 {
    top: 28.9375rem;
    left: 2.5rem;
  }
  .error-message {
    top: 23.125rem;
    left: 1.5625rem;
    width: 20rem;
  }
  .btn-primary {
    height: 3.125rem;
    width: 22.8125rem;
    top: 18.75rem;
    left: 0.9375rem;
    font-size: 1rem;
  }
  .line {
    top: 18.25rem;
    left: 1.25rem;
    width: 21.875rem;
  }
  .or {
    top: 18.75rem;
    left: 11.875rem;
    font-size: 0.6875rem;
    width: 1.125rem;
    padding-left: 0.125rem;
  }
  .btn-secondry {
    height: 3.125rem;
    width: 22.8125rem;
    top: 18.75rem;
    left: 0.9375rem;
    font-size: 1rem;
  }
  .btn-ftp {
    top: 28.125rem;
    left: 1.25rem;
    width: 22.5rem;
  }
}
